<html lang="en">



<body>

    <h1>Ethics in Information Technology</h1>
    <p>The persistance of new and inovative technology year by year has caused much concern about the idea of whether or not these new machines and AI are really justified. With the help of understanding ethics and what it surrounds around technology, everyone can contribute and understand the ever-growing selection and advancements technology has.</p>
    <p>As new technology comes up, different ethical issues arise such as transparency, privacy, and its bias. <a href="https://www.mccann.edu/importance-of-ethics-in-information-technology/" target="_blank">reference</a></p>
    <h2>Transparency</h2>
    <p>Transparency is important to the ethical side of information technology as it helps the user and creator understand what the machine is capable of and to what extent can be made from the technology. Making changes in the IT field ultimately requires clear and deliberate action in order 
        to prevent any faults that may arise in the future. <a href="https://ethicspolicy.unc.edu/news/2022/03/30/on-transparency/#:~:text=Transparency%20is%20essential%20to%20an,overcome%20the%20previous%20opaque%20culture.">reference</a>  </p>
    <h2>Privacy</h2>
    <p>One of the most talked about issues to new technology rising would be the topic about privacy 
        and if its ethical for big companies, and others collect data, and if its okay, how much data would be need to be taken in order for our privacy be violated.
        Big companies and other sources that we know we give our information to are not the only things that we should be concerned about when it comes to privacy but cyber attacks also 
        are a big concern when it comes to our privacy. <a href="https://plato.stanford.edu/entries/it-privacy/" target="_blank">reference</a></p>
    <h2>Neutral Bias</h2>
    <p>It may seem obvious that machines do not have any sort of bias as thier descrion making and process of emotion is all caused by programing; however, 
        the ethical issue lies in between the creator of the technology and bias can still be in technology like in AI. If any form of bias is applied to the machine whether that be AI, writing help, or biometric scanners 
        which can cause ethical problems and can result in a skewed bias. Having a neutral bias is an important ethical topic in IT as when more data is inputed in future
        technology, having a balanced form of data is cruical to not have any sort of bias hindering the machine and give a accessibility and sustainability.
        <a href="https://www.ironhack.com/ww/blog/ethics-and-bias-in-artificial-intelligence" target="_blank">reference</a>
    </p>
    
    

</body>

</html>