<html lang="en">



<body>

    <h1>Examples of Biometrics</h1>
    <p>One real-world example of biometrics is the implementation of hand scanners for security reasons in companies like Amazon. Recently, Amazon announced that in one of their recent AWS meetings, they wanted to point out many security issues for its business; one of which is a hand-scanning-biometric system. The reason as to why they want to start implementing biometric systems is because of how secure it is with its validity and authorization. Traditional keycards and PINs can be stolen, lost, or forgotten, which both need to be continuously replaced and changed to prevent cyber attacks. The company said in a press conference, "The new service's palm-recognition technology uses advanced artificial intelligence and machine learning to create a palm signature that is associated with identification credentials like a badge, employee ID, or PIN," 
        <a href="https://www.csoonline.com/article/1249865/amazon-debuts-biometric-security-device-updates-detective-and-guardduty.html" target="_blank">source</a>
        . Currently, the version in which Amazon wants to implement,which is based in AI-machine learning, is only available in the US, but will soon be implemented in other parts of the world like Asia, Europe, and many more. 
    </p>
    
    <p>One other real-world example of biometrics is the implementation of biometrics in the E-commerce world. Many consumers have used biometrics, especially in Apple products with the use of iris scanning to unlock their phones to make transactions. This use of biometrics is now being implemented in modern day automobiles to better suit the needs of drivers. Mercedes-Benz has been implementing forms of biometrics in the automotive industry with its addition of Mercedes Pay which started in September. Through fingerprint scanning, Mercedes has been able to integrate with MasterCard to further adopt payment technology in cars. Many automobile companies have seen what Mercedes-Benz has done and are now starting to implement their own type of biometrics. Within the automotive industry, a Swedish company called Fingerprints stated that they wanted to implement iris biometric technology Driver Monitoring Systems
        <a href="https://www.pymnts.com/news/biometrics/2023/non-retail-firms-launch-biometric-tools-amid-consumer-interest/" target="_blank">source</a>
        These examples in the commerce industry shows that biometrics is not just meant for the use of business-only security, but an integration of biometrics in all of daily life.
    </p>
    <h1>The Complexity of Biometrics</h1>
    <p>Even though Biometrics is easy and secure, it still poses problematic issues that may hinder its full abilities in the near future. Privacy is a huge issue with biometrics and The collection and storage of biometric data give rise to concerns about unauthorized access and potential misuse. With the expansion of biometric databases, the risk of security breaches and identity theft increases. Even though biometrics have a form of unique validation such as your eye, hand, or finger, biometrics still have security issues that can have potential harms if used unethically. The 
        potential for bias in biometric algorithms, particularly in facial recognition, presents ethical challenges as well, which can result in many ethical and misguided errors that can definitely harm a business, their employees, or their consumers that the business caters to. Biometrics is a bright step in the future with its implementation across all aspects of life, but needs to be regulated in case of future risks that may come along the way.
    </p>
    
    <iframe width="420" height="315" src="https://www.youtube.com/watch?v=j4OdYuBStv8" frameborder="0"> </iframe>


</body>

</html>
