<html lang="en">



<body>

    <h1>Welcome to IT 304-DL3 Assignment 4</h1>
    <p>Information Technology is always changing, and ethical considerations play a crucial role in developing responsibilities when it comes to solutions in technology. Here, anyone is able to explore the ethical stances of IT, providing insight to our developers, data analysts, and IT enthusiasts. </p>
    
    <p>
        Feel free to browse around and dive further into IT and the ethics that constantly surround this changing phenomenon.
        </p>
 
   
    
    

</body>

</html>